# Ignore Docker and system files
.*             # All dotfiles (except .dockerignore itself)
*.log
*.tmp
*.bak
*.swp

# Python artifacts
__pycache__/
*.pyc

# IDE/editor files
.vscode/
.idea/

# Virtual environments
venv/
.env/

# Ignore Ollama host models if present in build context
.ollama/
models/
models/*

# Don't ignore Indexes or ollama_models: these should be included in the build context!
# (The following lines ensure those folders ARE included:)
!Indexes/
!Indexes/_L4T_README
!Indexes/README.md
!ollama_models/
!ollama_models/README.md

# Ignore any other unneeded data here
